.partyRow {
  text-align: center;
  display: flex;
  margin-bottom: 100px;
  width: 100%;

  .partyLeft {
    padding: 60px;
    flex: 1;
  }

  .partyRight {
    border-left: solid 2px #a4b1b8;
    padding: 60px;
    flex: 1;
  }

  .profileImage {
    margin: 0 auto 10px auto;
  }

  h2 {
    font-family: 'Rozha One', serif;
    font-size: 34px;
    margin: 40px 0 40px;
  }

  h4 {
    margin-bottom: 30px;
    font-size: 17px;
    letter-spacing: 6px;
  }

  p {
    font-size: 17px;
    line-height: 30px;
    font-weight: 700;
    letter-spacing: .9px;
  }
}
